/* General */
body {
	font-family: 'Roboto', sans-serif;
}

.brnd {
	background-color: #fff;
}

.text-ipi {
	padding: 10px;
	border-left: 1px solid #101010;
}


.sidebar {
	background-color: #182C61;
	border-color: #2980b9;

}

#progressTimer {
	margin: 20px;
	width: 95%;
	height: 8px;
	position: relative;
}

.carrot {
	border-left: 0.25rem solid #e58e26 !important;
}

.midnight-blue {
	border-left: 0.25rem solid #2c3e50 !important;
}

.no-border {
	border: 0;
}

.card,
.card-header:first-child {
	border-radius: 0rem;
}

.square-legend {
	width: 3rem;
	height: 1rem;
	border-radius: 0.2rem;
}

.line-legend {
	background-color: red;
	width: 3rem;
	height: 0.3rem;
	border-radius: 0.2rem;
}

.dash {
	background-image: url('../../img/2.jpg');
	background-attachment: fixed;
	background-position: 0 -200px;
	color: #eaeaea;
	overflow: hidden;
}

.bg-orange2 {
	background-color: #cd6133;
}

.bg-brown {
	background-color: #654321;
}

.bg-carrot {
	background-color: #cc8e35;
}

.bg-green {
	background-color: #218c74
}

.bg-red {
	background-color: #c0392b
}

.bg-blue {
	background-color: #2980b9;
}

.bg-white-gray {
	background-color: #f5f6fa;
}

.bg-orange {
	background-color: rgb(243, 156, 18);
}

.bg-cream {
	background-color: rgb(248, 194, 145);
}

.bg-yellow {
	background-color: #fed330;
}

.bg-yellow2 {
	background-color: #f1c40f
}

.bg-midnight-blue {
	background-color: #2c3e50
}

.text-white {
	color: white;
}

table.table-bordered {
	border: 1px solid #ffffff;
}

table.table-bordered>thead>tr>th {
	border: 1px solid #ffffff;
}

table.table-bordered>tbody>tr>td {
	border: 1px solid #ffffff;
}

table.table-borde {
	border: 1px solid #101010;
}

table.table-borde>thead>tr>th {
	border: 1px solid #101010;
}

table.table-borde>tbody>tr>td {
	border: 1px solid #101010;
}


/* animasi */
.box {
	opacity: 0;
	transition: 1s;
	transform: translate(0, 50px);
}

.box2 {
	opacity: 0;
	transition: 1.2s;
	transform: translate(50px, 50px);
}

.box2.bMuncul,
.box.bMuncul {
	opacity: 1;
	transform: translate(0, 0);
}
